/*

coal horse GREY
#676568
rgba(103,101,104,1)

investment DARK BLUE
#184a87
rgba(24,42,135,1)

bg button SKY BLUE
#019ae1
rgba(1,154,225,1)

gs2 CORNFLOWER BLUE
#dbebf9
rgba(219,235,249,1)

white
#fff
rgba(255,255,255,1)

 */
:root {
    font-size: 10px;
    font-family: sans-serif;
}

html, body {
    margin: 0;
}

body {
    padding: 1em;
}

form fieldset {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
}

label {
    user-select: none;
    font-size: 14px;
}

fieldset, hr, table, input {
    border-color: #676568;
}

form fieldset legend {
    color: #676568;
    font-size: 12px;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
}

.row > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 33%;
}

.amount {
    display: flex;
    align-items: center;
}

.amount label {
    font-size: 2.4rem;
    margin-right: 0.3333em;
    cursor: pointer;
}

input[type="text"] {
    padding: 8px 5px;
    outline: 0;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
}

form fieldset input[type="submit"] {
    border: 0;
    box-shadow: 2px 2px #676568;
    outline: 0;
    cursor: pointer;
    transition: 0.1667s ease;
    padding: 0.3333em 1.3333em;
    font-size: 16px;
    border-radius: 3px;
}

form fieldset input[type="submit"]:active {
    box-shadow: none;
}

table {
    width: 100%;
    border-radius: 3px;
    overflow: auto;
    margin-bottom: 4em;
}

th {
    padding: 0.3333em 0.6667em;
}

td {
    font-size: 12px;
    padding: 5px 10px;
}

tbody tr:nth-child(2n) {
    background-color: #dbebf9;
}

input.primary {
    background-color: #184a87;
    color: #fff;
}

th.primary, .primary th, .primary td {
    color: #184a87;
    border: 1px #184a87 solid;
    border-radius: 3px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.mono {
    font-family: monospace;
}

.total {
    display: flex;
    justify-content: space-between;
}

#showmore {
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    background-color: #019ae1;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

#hoversum td {
    text-align: right;
    font-family: monospace;
    font-weight: bold;
    background-color: #019ae1;
    color: #fff;
    pointer-events: none;
}

tr:not(#hoversum) {
    cursor: pointer;
}
